@charset "UTF-8";
#content {
    width: 500px;
    margin: 100px auto 0 auto;
}
#ip_username, #ip_telephone {
    width: 190px;
    height: 26px;
    margin-left: 39px;
}
#ip_password, #ip_name {
    width: 190px;
    height: 26px;
    margin-left: 54px;
    margin-top: 38px;
}
#ip_submit {
    width: 50px;
    height: 30px;
    margin-top: 38px;
}
#ip_telephone {
    margin-top: 38px;
}